.about-section {
	padding: 190px 0px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #fffbf3;
	&:before {
		top: 0;
		left: 0;
		content: '';
		height: 100%;
		width: 380px;
		position: absolute;
		background-color: $base-color;
	}
	&:after {
		height: 100%;
		width: 380px;
		content: '';
		top: 0;
		left: 0;
		background-image: url(../img/about/abi.png);
		position: absolute;
	}
	.about-img-left {
		left: -55px;
		z-index: 1;
		.about-circel-img {
			bottom: 60px;
			left: -115px;
			width: 255px;
			height: 255px;
			overflow: hidden;
			position: absolute;
			border-radius: 100%;
		}
	}
	.about-radius-img {
		height: 425px;
		width: 525px;
		overflow: hidden;
		border-radius: 120px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}
.about-right-text {
	.section-title {
		h2 {
			color: $base-color;
		}
	}
	.about-text-area {
		padding-top: 30px;
		p {
			padding-bottom: 30px;
		}
	}
	.about-fun-fact {
		display: flex;
		flex-wrap: wrap;
		.ab-fun-fact-item {
			width: 175px;
			&:after {
				top: 5px;
				right: 20px;
				width: 1px;
				content: '';
				height: 52px;
				position: absolute;
				background-color: #dfdfdf;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			h3 {
				float: left;
				line-height: .9;
				font-size: 50px;
				font-weight: 700;
				color: $base-color;
				margin-right: 10px;
			}
			span {
				color: #181824;
				line-height: .5;
				font-size: 18px;
			}
		}
	}
}
.about-section-2 {
	margin-top: 40px;
	z-index: 1;
	margin-bottom: 140px;
	.about-side-img-2 {
		bottom: 55px;
		left: -80px;
	}
	&:before {
		top: 0;
		left: 0;
		width: 48%;
		content: '';
		height: 100%;
		z-index: -2;
		position: absolute;
		background-color: #fff2f3;
		border-bottom-right-radius: 190px;
	}
	&:after {
		top: 0;
		left: 0;
		z-index: -1;
		content: '';
		width: 48%;
		height: 100%;
		position: absolute;
		border-bottom-right-radius: 190px;
		background-image: linear-gradient( -10deg, rgb(255,245,245) 0%, rgb(255,255,255) 100%);
	}
}
.about-content-2 {
	.about-left-text {
		padding: 60px 0px 120px;
		.about-watermark {
			font-size: 200px;
			line-height: 1;
			i {
				color: #fff5f5;
			}
		}
		h3,h4 {
			font-size: 30px;
			font-weight: 700;
			color: #272656;
			padding-bottom: 18px;
		}
		p {
			color: #6e6e6e;
			max-width: 470px;
			padding-bottom: 48px;
		}
		h4 {
			color: $base-color2;
		}
		.about-opening-hour {
			padding-top: 28px;
			.ab-open-title {
				color: #272656;
				font-weight: 700;
				font-size: 20px;
				font-family: $heading;
				padding-bottom: 12px;
			}
			.opening-time-schedule {
				width: 165px;
				float: left;
				margin-right: 50px;
				span {
					display: block;
					&:nth-child(1) {
						color: #272656;
					}
					&:nth-child(2) {
						color: $base-color2;
					}
				}
			}
		}
	}
	.about-right-text {
		padding-top: 200px;
		.section-title {
			h2 {
				color: #272656; 
			}
		}
		.about-fun-fact { 
			padding-top: 50px;
			.ab-fun-fact-item { 
				h3 {
					color: $base-color2;
				}
			}
		}
	}
}
.about-section-3 {
	top: -80px;
	margin-bottom: -80px;
	padding: 270px 0px 0px;
	background-color: #92817a;
	.about-side-img1 {
		top: 70px;
		left: 100px;
	}
	.about-side-img2 {
		bottom: 20px;
		left: -100px;
	}
	.about-side-img3 {
		left: 50%;
		bottom: 90px;
		transform: translateX(-50%);
	}
	.about-side-img4 {
		top: 80px;
		right: 60px;
	}
	.about-side-img5 {
		bottom: 160px;
		right: 100px;
	}
	.waterprint-title {
		top: 280px;
		left: 150px;
		position: absolute;
	}
	.about-content-3 {
		padding-bottom: 80px;
		.about-area-text {
			color: #fff;
			.section-title {
				padding-bottom: 30px;
				h2 {
					color: #fff;
				}
			}
			p {
				line-height: 1.765;
				padding-bottom: 25px;
			}
			a {
				color: #fff;
				height: 53px;
				width: 170px;
				display: block;
				margin-top: 45px;
				line-height: 53px;
				text-align: center;
				background-color: $base-color3;
			}
		}
	}
	.about-right-text {
		.about-fun-fact {
			bottom: 0;
			position: absolute;
			padding: 45px 40px 0px;
			background-color: #fff;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}
	}
}