.breadcrumb-section {
	.breadcrumb-area {
		padding: 125px 0px;
		h1 {
			color: #131a33;
			font-size: 120px;
			font-weight: 700;
			padding-bottom: 25px;
		}
		.breadcrumb {
			background-color: transparent;
			li {
				font-size: 20px;
				color: #131a33;
			}
		}
	}
}